<div class="center aligned ui container">
	<div class="ui two column centered grid">
		<div class="column">
			<div class="ui card">
				<div class="image">
					<!--<img id="loginLogo" src="../../../assets/img/logo.png" class="md-card-image">-->
				</div>
				<div class="ui content">
					<login-form data="$ctrl.credentials" on-login="$ctrl.login($event);"></login-form>
					<div class="ui negative message" ng-if="$ctrl.error">
						<div class="header">{{'login.index.error' | translate}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

