<form name="loginForm" class="ui form" ng-submit="$ctrl.onSubmit();">
	<div class="field">
			<label translate="login.form.name"></label>
			<input type="text" ng-model="$ctrl.data.name">
	</div>

	<div class="field">
			<label translate="login.form.password"></label>
			<input type="password" ng-model="$ctrl.data.password">
	</div>
	<div>

		<div class="extra content">
			<div class="ui one buttons">
				<button type="submit" class="ui button primary"
				        translate="login.form.login"
				        ng-disabled="$ctrl.loading"></button>
				<!--<button class="ui button" ui-sref="forgot" translate="login.form.reset"></button>-->
			</div>
		</div>

	</div>
</form>
