<div class="md-whiteframe-4dp" layout="column" flex>

	<!--<md-toolbar class="md-toolbar-tools">-->
		<!--<img id="sidebar-logo" src="../../../assets/img/logo.png">-->
	<!--</md-toolbar>-->
	<!--<md-subheader class="md-no-sticky">{{ 'global.menu.sales' | translate }}</md-subheader>-->
	<!--<md-list-item ng-click="$ctrl.openSaleModal()">-->
		<!--<md-icon md-svg-icon="shopping"></md-icon>-->
		<!--<p>{{ 'sale.index.createSale' | translate }}</p>-->
	<!--</md-list-item>-->

	<!--<md-subheader class="md-no-sticky">{{ 'global.menu.menus' | translate }}</md-subheader>-->
	<!--<md-list-item ng-repeat="menu in $ctrl.menus" ui-sref="{{ ::menu.state }}"-->
		<!--ng-click="$ctrl.toggleSidebarIfScreenIsSmall()">-->
		<!--<md-icon md-svg-icon="{{ ::menu.icon }}"></md-icon>-->
		<!--<p>{{ menu.name | translate }}</p>-->
	<!--</md-list-item>-->

	<!--<md-subheader class="md-no-sticky">{{ $ctrl.user.name }}</md-subheader>-->
	<!--<md-list-item ng-click="$ctrl.onLogout()">-->
		<!--<md-icon md-svg-icon="logout"></md-icon>-->
		<!--<p>{{ 'global.menu.logout' | translate }}</p>-->
	<!--</md-list-item>-->

	<!--<md-list-item ui-sref="settings" ng-click="$ctrl.toggleSidebarIfScreenIsSmall()">-->
		<!--<md-icon md-svg-icon="settings"></md-icon>-->
		<!--<p>{{ 'global.menu.settings' | translate }}</p>-->
	<!--</md-list-item>-->

	<ng-transclude></ng-transclude>

</div>
